<section class="my-section">
  <div class="my-container">
    <mat-card class="my-login">
      <mat-card-header class="my-login__header">
        <mat-card-title class="my-login__title">Share Library</mat-card-title>
      </mat-card-header>
      <mat-card-content class="my-login__content">
        <p>シェアライブラリーの管理用サイトです。 <br>どんどん管理していきましょう！</p>
        <button mat-raised-button color="primary" class="my-button">Login with Google</button>
      </mat-card-content>
    </mat-card>
  </div>
</section>
