/* You can add global styles to this file, and also import other style files */

/* A Modern CSS Reset */
*,*::before,*::after{
  box-sizing: border-box;
}
body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{
  margin:0 ;
}
ul[role="list"],ol[role="list"]{
  list-style: none;
}
html:focus-within{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a:not([class]){
  text-decoration-skip-ink: auto;
}
img,picture{
  max-width: 100%;
  display: block;
}
input,button,textarea,select{
  font: inherit;
}
@media(prefers-reduced-motion:reduce){
  html:focus-within{
    scroll-behavior: auto;
  }
  *,*::before,*::after{
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body { height: 100%; }
body {
  margin: 0;
  background: #f7f7f7;
  font-family: "Noto Sans JP", "Helvetica Neue", sans-serif;
}

.my {
  &-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  &-main {
    flex: 1 0 auto;
    padding: 80px 0;
  }
  &-section {
    & + .my-section {
      margin-top: 30px;
    }
  }
  &-container {
    max-width: 960px;
    padding: 0 40px;
    margin: 0 auto;
  }
  &-header {
    padding: 15px 0;
    background-color: #3380c1;
    &__inner {
      display: flex;
      justify-content: space-between;
    }
    &__title {
      a {
        color: #fff;
        font-family: 'Sorts Mill Goudy', serif;
        font-size: 26px;
        text-decoration: none;
      }
    }
    &__button {
      color: #3380c1;
      font-weight: bold;
    }
  }
  &-footer {
    padding: 30px 0;
    &__copyright {
      color: #a1a1a1;
      font-size: 12px;
      text-align: center;
    }
  }
  &-title {
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
  }
}
