<section class="my-section">
  <div class="my-container">
    <h1 class="my-title">登録した本を検索</h1>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="my-form">
      <input formControlName="isbn" class="my-form__input" placeholder="ISBNで登録した本を検索" required>
      <button mat-flat-button color="primary" [disabled]="searchForm.invalid || searchForm.pristine" class="my-form__button">検索</button>
    </form>
  </div>
</section>
<section class="my-section">
  <div *ngIf="isbn.value && isSearched" class="my-container">
    <div class="my-search-list" *ngIf="book$ | async as book; else notbooks">
      <mat-card class="my-book-panel">
        <div class="my-book-panel__thumb">
          <img *ngIf="book.thumbnail" [src]="book.thumbnail" alt="">
          <img *ngIf="!book.thumbnail" src="/assets/noimage.png" alt="">
        </div>
        <div class="my-book-panel__content">
          <p class="my-book-panel__name">{{ book.title }}</p>
          <p class="my-book-panel__info" *ngIf="book.author">著者：{{ book.author }}</p>
          <button mat-flat-button color="primary" routerLink="/books/{{book.id}}" class="my-book-panel__button">本の詳細を見る</button>
        </div>
      </mat-card>
    </div>
    <ng-template #notbooks>
      <p>一致する検索結果はありませんでした</p>
    </ng-template>
  </div>
</section>
